html {
    height: 100%;
}
body {
    
    height: 100%;
    padding: 0;
    margin: 0%;
    background-image: url(ath.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: blur(3px);
    text-align: center;
}
p {
    color: #f3f91e;
}
label {
    color: #f3f91e;
}
h1 {
    text-align-last: center;
    color: #f3f91e;
}